body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #07574c;
    padding: 0;
    margin: 0;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
}

.logo{
    opacity: 0;
    width: 100px;
    margin: 10px 0px;
    animation: fadeIn 1s forwards 2s;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.headline{
    color: white;
    font-family: Poppins, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.label1{
    width: 80%;
    background-color: #dde361;
    border-radius: 20px;
    border: black 3px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
}

.paragraph1{
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 1.2rem;
    color: #07574c;
    font-weight: bold;
}

p{
    color: white;
    font-family: Poppins, sans-serif;
    text-align: center;
}

.btn{
    width: 80%;
    background-color: #dde361;
    border-radius: 20px;
    border: black 3px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 5px;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 1.2rem;
    color: #07574c;
    font-weight: bold;

    margin-bottom: 20px;
}

.swipe-card{
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    background-color: white;
    height: 100%;
    width: 100%;
    animation: swipe 4s forwards 1s;
}


@keyframes swipe {
    from{
        bottom: 0px;
    }
    to{
        bottom: 2000px;
    }
}